footer {
  width: 100vw;
  height: 5rem;
  position: fixed;
  bottom: 0;
  margin-top: 8rem;
  background: black;
  
  
  p {
    margin: 1rem 2rem;
    font-size: 1.8rem;
    color: white;
    font-family: 'Unica One', cursive;

  }



}